
.container {
    background-color: royalblue;
}
 .nav{
  display: flex;
  align-items: center;
  justify-content: center;
    }

.logo{
    width: 135px;
    height: 60px;
}

.b{
    background-color: salmon;
}

.c{
    background-color: pink;
}

.d{
    background-color: #FFFFFF;
   
}

.rowCard{
    margin-right: 0px;
    margin-left: 0px;
}

.colCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.cardRecipe{
    width: 350px;
}

.card-body{
    background-color: #E7E7E7;
}

h1{
    color: red;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}